<div ng-init="init()">
    <div class="modal-header">
        <table style="width: 100%">
            <tr>
                <td align="left"><h4 ng-bind="dossierInfo.headerText"></h4></td>
                <td align="right">
                    <button class="glyphicon glyphicon-remove btn-primary" name="closeBtn"
                            style="width: 18px;height:18px;border:0"
                            data-ng-click="cancel();">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-body" id="detailContent" name="detailContent">
        <img-update-entirety config-data="attachmentList" save-fun="saveOptionData()" read-only="readOnly"
                             ng-if="attachmentList.length>0"></img-update-entirety>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" style="width: 180px"  ng-if="!readOnly"
                id="submitButton" ng-click="update();">确定
        </button>
    </div>
</div>
