<div class="panel-heading mar_t15p">
    <span class="title1">请选择上传的文件</span>
    <span class="panel-tips">（文件大小不能超过10M）</span>
</div>
<div class="panel-body-box mar_t5p">
    <div class="col-md-6">
        <form id="uploadForm">
            <input id="fileInput" ng-model="test" type="file" nv-file-select uploader="uploader" accept=".xls,.xlsx"
                   ng-click="onFileSelect()"/>
        </form>
    </div>
    <div class="col-md-6" ng-show="uploader.queue[0]">文件大小:{{ uploader.queue[0].file.size/1024/1024|number:2 }}
        MB
    </div>
    <div class="btn_box mar_t15p clearfix" id="buttonArea" style="height:auto">
        <div><label style="font-size:12px;" class="c_red">*批量业务由于IE浏览器限制，请使用谷歌Chrome、火狐Firefox等浏览器操作!</label></div>
        <div class="pull-right">
            <button type="button" class="btn btn-blue" style="width: 180px" ng-disabled="isDisabledFlag"
                    ng-click="downLoadTemplete()">模板下载
            </button>
            <button type="button" class="btn btn-white" style="width: 180px"
                    ng-click="reset()">清屏
            </button>
            <button id="uploadButton" type="button" class="btn btn-blue" style="width: 180px"
                    ng-disabled="!uploader.queue.length > 0"
                    ng-click="upload()">文件上传
            </button>
            <!--<dossier ng-show="applyTypeValue === '1203'" apply-data="applyData" matter="matter"></dossier>-->
        </div>
    </div>
</div>

