<div class="row mar_l15p">
    <div class="row mar_l10p mar_t10p mar_b10p">
        <button class="btn  col-md-5 img_update_animation_btn" title="{{materialDetailData.name}}"
                ng-click="extendDetail(materialDetailData.index)"
                ng-class="{false: 'btn-primary', true: 'btn-success'}[successCtrl.isSuccess]">
            <span ng-bind="materialDetailData.name"></span>
            <span class="badge">{{haveChosen}}/{{widgetViewData.length}}</span>
        </button>
        <div class="col-md-2 img_update_mess_success" ng-if="successCtrl.isSuccess">本次上传<span class="c_red fw">{{successCtrl.updateCount}}</span>页
        </div>
        <!--<div class="col-md-6 img_update_descript" style="line-height: 16px;" >-->
        <!--<span>{{materialDetailData.descript}}</span>-->
        <!--</div>-->
        <div class="col-md-6 img_update_descript" style="line-height: 16px;" >
        <span ng-if="materialDetailData.type==='MASTER'">*必录</span>        <span ng-if="materialDetailData.type==='SUB'">*非必录</span>
        </div>
    </div>
    <div ng-show="extendState">
        <div class="img_update_detailed">
            <img-update-widget ng-repeat="widgetData in widgetViewData" is-view="isView" widget-data="widgetData"
                               change-widget-value="changeWidgetValue(obj)"
                               delete-widget="deleteWidget(obj,materialDetailData.minPage,materialDetailData.fixPage)"
                               material-index="widgetData.name" is-allow-delete="isAllowDelete"></img-update-widget>
            <div class="img_update_add" ng-if="materialDetailData.fixPage===0 && (!isView)"
                 ng-click="imgAdd(materialDetailData.maxPage,materialDetailData.fixPage)">
            </div>
            <!--<div class="row">-->
            <!--<button class="btn btn-success" ng-class="{false: 'img_update_btn_forbidden', true: 'img_update_btn'}[isAllowUpload]" ng-click="imgUpdate()">上传</button>-->
            <!--</div>-->
        </div>
        <!--<div class="img_update_example" ng-if="materialDetailData.samplePath!==null">-->
        <!--<span class="img_update_example_span">示例图片</span>-->
        <!--<img ng-src="{{samplePath()}}" class="thumbnail img_update_example_view" width="100px" height="100px"-->
        <!--ng-click="imgShow($event)"/>-->
        <!--</div>-->
        <!--<div class="img_update_example" ng-if="materialDetailData.samplePath===null">-->
        <!--<span class="img_update_example_none">抱歉，没有示例图片</span>-->
        <!--</div>-->
    </div>
</div>
