<div class="I_service" ng-init="initMenu()">
    <div class="I_service_decorate"></div>
    <div class="I_S_title">
        <div class="I_S_text"><span>业务办理</span></div>
    </div>
    <div class="I_S_pro">
<!--        <ul>-->
<!--            <li ng-repeat="quick in quickLaunchs track by $index" class="I_S_but" ng-click="goShortcut(quick.path)">-->
<!--                <div ng-class="'nav_icon'+quick.id"></div>-->
<!--                <span>{{quick.label}}</span>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
</div>

