<!--<div class="col-md-4 bg-white col4"  style="padding-left: 0;">-->
<!--<div class="I_O_le"><div class="I_O_update"></div><div class="I_O_uptext">更新说明</div></div>-->
<!--<div class="I_O_ri">-->
<!--<div style="height: 20px; width: 100%;"></div>-->
<!--<div class="I_uptext" ng-click="updateInfoDetail('20150317')"><div class="I_u_le">2015-03-17</div> <div class="I_u_ri"><a> 更新说明</a></div> </div>-->
<!--<div class="I_uptext" ng-click="updateInfoDetail('20150119')"><div class="I_u_le">2015-01-19</div> <div class="I_u_ri"><a> 更新说明</a></div> </div>-->
<!--<div class="I_uptext" ng-click="updateInfoDetail('20141226')"><div class="I_u_le">2014-12-26</div> <div class="I_u_ri"><a> 更新说明</a></div> </div>-->
<!--</div>-->
<!--</div>-->

<div class="I_Guide">
    <div class="I_S_title">
        <div class="I_S_text">待提交业务管理</div>
    </div>
    <div class="I_S_ten">
        <ul>
            <li><a href="#">人员参保登记 18-01-25</a></li>
            <li><a href="#">退休申请 18-01-25</a></li>
            <!--<li><a href="#">单位人员缴费工资申报名单 17-12-21</a></li>-->
            <!--<li><a href="#">单位批量缴费工资申报 17-12-21</a></li>-->
            <!--<li><a href="#">单位人员基本信息修改 17-12-21</a></li>-->
        </ul>
    </div>
    <!--<div class="I_S_ten " ng-if="configureData.length!=0">-->
    <!--<div class="I_u_loc">-->
    <!--<div style="height: 20px; width: 100%;"></div>-->
    <!--<div class="I_uptext" ng-repeat="cd in configureData" ng-click="updateInfoDetail(cd.date)">-->
    <!--<div class="image-layer">-->
    <!--<div class="I_u_le"><span ng-bind="cd.date | updateDateFormat"></span></div>-->
    <!--<div class="I_u_ri"><a><span ng-bind="cd.descript"></span></a></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div  ng-if="configureData.length===0" style="height: 260px; width: 100%; margin: 2px auto;">-->
    <!--<div class="I_u_none"></div>-->
    <!--</div>-->
</div>
