<!--点击以后关闭imageViewBox-->
<div data-ng-click="modalOptions.close()">
    <div class="modal-dialog" style="width: auto;margin: 0;" ng-if="modalOptions.fileType === 'img'">
        <h4 ng-show="modalOptions.headerText">{{modalOptions.headerText}} </h4>
        <div class="modal-content" style="padding: 0;border: 0 none;overflow: hidden;"
             ng-style="{maxWidth:stableWidth,maxHeight:stableHeight,minWidth:stableWidth,minHeight:stableHeight}">
            <div class="modal-body" style="padding: 0">
                <img class="preview_img" ng-src="{{modalOptions.imageData}}" alt="查看图片" ng-init="initModel()"/>
            </div>
        </div>
    </div>
    <div class="modal-dialog" style="width: auto;margin: 0;" ng-if="modalOptions.fileType === 'pdf'">
        <h4 ng-show="modalOptions.headerText" ng-init="modalOptions.pdfInit()">{{modalOptions.headerText}} </h4>
        <div class="modal-content" style="padding: 0;border: 0 none;">
            <div class="modal-body" style="padding: 0">
                <object id="objectA" class="girder-view-pdf"></object>
            </div>
        </div>
    </div>
    <div ng-if="modalOptions.fileType==='img'" class="banner_tool">
        <span class="glyphicon glyphicon-zoom-in" ng-click="zoomIn()" title="放大"> </span>
        <span class="glyphicon glyphicon-zoom-out" ng-click="zoomOut()" title="缩小"></span>
        <span ng-show="changedSize" class="glyphicon  glyphicon-fullscreen" ng-click="contained()" title="适应窗口大小"></span>
        <span ng-show="!changedSize" class="glyphicon glyphicon-1-1" ng-click="realSize()" title="图片原始大小"></span>
        <span class="glyphicon glyphicon-repeat" ng-click="rotateImg()" title="旋转"></span>
    </div>
</div>
