<div>
    <div class="modal-header">
        <table style="width: 100%">
            <tr>
                <td align="left"><h4>{{modalOptions.headerText}}</h4></td>
                <td align="right">
                    <button class="glyphicon glyphicon-remove btn-primary" name="closeBtn"
                            style="width: 18px;height:18px;border:0"
                            data-ng-click="modalOptions.close();">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-body">
        <form name="infoForm" class="form-horizontal formCustomSetting normalForm" novalidate>
            <div style="background:#f6f6f6;">
                <!--head-->
                <!--<div class="P_L_top">-->
                    <!--<div class="P_L_center">-->
                        <!--<div class="P_L_cen_left"></div>-->
                        <!--<div class="P_L_cen_right">-->
                            <!--<div class="P_L_ceb_R01 hand"><a href="#/personLogin" class="P_L_ceb_R01 hand">登 录</a></div>-->
                            <!--<div class="P_L_ceb_R02 hand"><a href="#/personAgree" class="P_L_ceb_R02 hand">注 册</a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div style="background-color: #fffffe; border-radius: 4px; border: 1px solid #666666;font-family:楷体;height: 800px;overflow-x: hidden;overflow-y: visible;">
                    <h1 style="text-align: center;">{{modalOptions.headerText}}</h1>
                    ----------------------------------------------------------------------------------------------------<br/>
                    <span style="font-size:20px;text-indent:2em;">
                <td class="context6"><font style="LINE-HEIGHT: 200%; FONT-FAMILY: '宋体'; FONT-SIZE: 16px">&nbsp;&nbsp;&nbsp;&nbsp;<!--<$ [正文] >begin-->
                        <div id="zwxinx"><p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: left; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 32pt" align="left"><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋; BACKGROUND: white; COLOR: black">根据《关于实施河南省高层次人才特殊支持“中原千人计划”的通知》（豫组通<span>[2017]44</span>号）精神，决定从<span>2018</span>年开始实施“中原青年博士后创新人才”（简称“博新人才”）计划。</span><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋">为体现“公平、公正、科学、严谨”的评审原则，报经厅领导同意，委托中国博士后科学基金会于<span>9</span>月<span>6-7</span>日对符合条件的<span>64</span>名申报人全权代为评审。现将评审出的<span>10</span>名人选予以公示。</span></p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: left; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 32pt" align="left"><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋">公示期：<span>2018</span>年<span>9</span>月<span>7</span>日—<span>13</span>日。</span></p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: left; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 32pt" align="left"><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋">公示期间，如有异议，请拨打电话：<span>0371-69690313</span>；或发邮件：<span><span><a href="mailto:zxjf2018@163.com">zxjf2018@163.com</a></span></span>。</span></p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: left; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt" align="left"><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋"><span>&nbsp; </span></span></p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: left; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt" align="left">&nbsp;</p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: right; MARGIN: 0cm 32pt 0pt 0cm; TEXT-INDENT: 232pt"><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋">2018</span><span style="FONT-SIZE: 16pt; FONT-FAMILY: 仿宋">年<span>9</span>月<span>7</span>日</span></p>
<p style="FONT-SIZE: 10.5pt; FONT-FAMILY: 'Calibri',sans-serif; TEXT-ALIGN: justify; TEXT-JUSTIFY: inter-ideograph; MARGIN: 0cm 0cm 0pt">&nbsp;</p>
<span style="FONT-SIZE: 15pt; FONT-FAMILY: 仿宋">附件：<a target="_blank" href="/download/20180907182516255.docx">2018年 “中原青年博士后创新人才” 拟入选人员名单.docx</a></span> </div>
                    <!--<$ [正文] >end--></font><br>
                        </td>
                    </span>
                </div>


                <!--<div style="font-size: 25px;font-family: 楷体;text-align: center">-->
                    <!--<p style="font-size: large; color: red;"><input type="checkbox" name="checkAgree" data-ng-model="checkBox"/>本人同意上述内容，接受社会保险网上经办服务并承担相应的风险与责任。-->
                    <!--</p>-->
                    <!--<br>-->
                    <!--<div class="P_L_t_text_color hand">-->
                        <!--<button class="P_L_t_text_color hand" data-ng-click="goToRegiste()">前 往 注 册</button>-->
                    <!--</div>-->
                <!--</div>-->


            </div>

        </form>
    </div>
</div>
