<div ng-init="init()">
    <div class="modal-header">
        <h4>设置</h4>
        <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel-body fl mar_b20p bg-blue" style="position: relative;z-index: 1040;width: 100%;">
            <form name="infoForm" class="form-horizontal formCustomSetting normalForm form-view">
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>登陆账号:</label>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="operator.account"></span>
                        </div>
                        <div class="col-md-2">
                            <label>姓名:</label>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="operator.name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>证件号码:</label>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="operator.idNumber"></span>
                        </div>
                        <div class="col-md-2">
                            <label>手机号码:</label>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="operator.mobile"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <uib-tabset style="min-height: 400px;">
            <uib-tab heading="密码修改" active=tabs.modify>
                <div style="padding-top: 0px; float: left; width: 100%; padding: 5px 10px 0 10px;margin-bottom: 20px">
                    <form class="form-horizontal formCustomSetting normalForm" novalidate name="passwordModify" id="passwordModify">
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>原密码</span>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" placeholder="请输入该账号原密码！"
                                       ng-model="pwdChangeDetails.oldPassword" name="oldPassword" required
                                       autocomplete="off"/>
                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error"
                                     ng-show="passwordModify.oldPassword.$dirty && passwordModify.oldPassword.$invalid">
                                    <small class="error"
                                           ng-show="passwordModify.oldPassword.$error.required">
                                        原密码为必输项！
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><span>新密码</span></div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="password" placeholder="请输入该账号新密码！" ng-minlength="8" ng-maxlength="15"
                                       ng-model="pwdChangeDetails.newPassword" name="newPassword" required
                                       maxlength="60"
                                       autocomplete="off"
                                       ng-pattern="/^.*(?=.{8,15})(((?=.*\d)(?=.*[a-zA-Z]))|((?=.*\d)(?=.*[!@#$%^&*?\(\)]))|((?=.*[a-zA-Z])(?=.*[!@#$%^&*?\(\)]))).*$/"/>
                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error"
                                     ng-show="passwordModify.newPassword.$dirty && passwordModify.newPassword.$invalid">
                                    <small class="error"
                                           ng-show="passwordModify.newPassword.$error.required">
                                        新密码为必输项！
                                    </small>
                                    <small class="error"
                                           ng-show="passwordModify.newPassword.$error.minlength || passwordModify.newPassword.$error.maxlength">八位到十五位！
                                    </small>
                                    <small class="error"
                                           ng-show="passwordModify.newPassword.$error.pattern">
                                        至少包含字母、数字、特殊字符中的两项！
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>密码确认</span>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="password" name="pwdConfirm" placeholder="请再次输入新密码!"
                                       autocomplete="off" id="pwdConfirm" ng-model="pwdConfirm"
                                       girder-valid-password="pwdChangeDetails.newPassword" required
                                       />
                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error" id="confirmPassword"
                                     ng-show="passwordModify.pwdConfirm.$dirty && passwordModify.pwdConfirm.$invalid">
                                    <small class="error"
                                           ng-show="passwordModify.pwdConfirm.$dirty&&(passwordModify.pwdConfirm.$error._required||passwordModify.pwdConfirm.$error.notEqual)">
                                        密码不匹配，请重新输入以确定！
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>验证码</span>
                            </div>
                            <div class="col-md-8">
                                <div class="form-control">
                                    <input type="hidden" id="captchaId1" name="captchaId"
                                           value="{{captcha.captchaId}}"/>
                                    <input class="form-control-cache" type="text" id="captchaWord1" name="captchaWord"
                                           placeholder="点击图片更换验证码" autocomplete="off" width="80%"
                                           required ng-model="captcha.captchaWord"/>
                                    <img id="captchaImage1" style="margin-left:5%" ng-src="{{captchaUrl}}"
                                         data-ng-click="getCaptcha()" width="80" height="22" alt="验证码">
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success col-md-offset-4" style="width:33%; margin-top: 20px;"
                            data-ng-click="confirmChangePassword()">确定
                    </button>
                </div>
            </uib-tab>
            <uib-tab heading="信息修改" active=tabs.info>
                <div style="padding-top: 0px; float: left; width: 100%; padding: 5px 10px 0 10px;margin-bottom: 20px">
                    <div>* 仅供单位管理员修改信息，操作员如需修改请联系单位管理员。</div>
                    <br>
                    <form class="form-horizontal formCustomSetting normalForm " novalidate name="userChange">
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>姓名</span>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" placeholder="请输入姓名！" name="name"
                                       ng-model="userChangeDetails.name" required maxlength="50"
                                       autocomplete="off"/>
                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error"
                                     ng-show="userChange.name.$dirty && userChange.name.$invalid">
                                    <small class="error"
                                           ng-show="userChange.name.$error.required">
                                        姓名为必输项！
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><span>证件号码</span></div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" placeholder="请输入证件号码！"
                                       ng-model="userChangeDetails.idNumber" name="idNumber" required maxlength="20"
                                       autocomplete="off"/>
                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error"
                                     ng-show="userChange.idNumber.$dirty && userChange.idNumber.$invalid">
                                    <small class="error"
                                           ng-show="userChange.idNumber.$error.required">
                                        证件号码为必输项！
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>手机号码</span>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" name="mobile" placeholder="请手机号码!"
                                       autocomplete="off" required maxlength="11"
                                       ng-model="userChangeDetails.mobile"/>

                                <div style="color: red;font-family: 楷体;font-size: 16px" class="error"
                                     ng-show="userChange.mobile.$dirty && userChange.mobile.$invalid">
                                    手机号码为必输项！
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <span>验证码</span>
                            </div>
                            <div class="col-md-8 ">
                                <div class="form-control">
                                    <input type="hidden" id="captchaId" name="captchaId"
                                           value="{{captcha.captchaId}}"/>
                                    <input class="form-control-cache" type="text" id="captchaWord" name="captchaWord"
                                           placeholder="点击图片更换验证码" autocomplete="off" width="80%" maxlength="8"
                                           required ng-model="captcha.captchaWord"/>
                                    <img id="captchaImage" style="margin-left:5%" ng-src="{{captchaUrl}}"
                                         data-ng-click="getCaptcha()" width="80" height="22" alt="验证码">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><span>手机验证码</span></div>
                            <div class="col-md-8 ">
                                <div class="form-control">
                                    <input id="validateMobileNumber" class="form-control-cache"
                                           name="validateMobileNumber" type="text" maxlength="8"
                                           ng-model="MobileInfo.captcha" required style="width: 60%;"/>
                                    <input id="btnRegisterSendCode" class="P_L_I_Green hand"
                                           value="下发验证码" readonly
                                           data-ng-click="sendRegisterMessage()"
                                            data-ng-disabled="userChange.mobilenumber.$invalid||userChange.captchaWord.$invalid"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success col-md-offset-4" style="width:33%; margin-top: 20px;"
                            data-ng-click="confirmChangeInfo()" data-ng-disabled="userChange.$invalid">确定
                    </button>

                </div>
            </uib-tab>
        </uib-tabset>
    </div>


</div>

