<div class="modal-header" ng-init="searchApply();">
    <table style="width: 100%">
        <tr>
            <td align="left"><h4>请查询并选择</h4></td>
            <td align="right">
                <button class="glyphicon glyphicon-remove btn-primary" name="closeBtn"
                        style="width: 18px;height:18px;border:0"
                        data-ng-click="cancel();">
                </button>
            </td>
        </tr>
    </table>
    <alert type='warning' ng-show="warningMsg" close="closeWaring()">{{warningMsg}}</alert>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="row form-group">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <label>社保机构代码</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="originalAgencyState" ng-model="queryParam.originalAgencyState" ng-change="searchApply();"
                           id="originalAgencyState"/>
                </div>
                <div class="col-md-2">
                    <label>社保机构名称</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="originalAgencyStateName" ng-model="queryParam.originalAgencyStateName" ng-change="searchApply();"
                           id="originalAgencyStateName"/>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-hover table-condensed" style="cursor: default">
        <thead>
        <tr >
            <th>社保机构代码</th>
            <th>社保机构名称</th>
            <th>行政区名称</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="person in pageObject|startFrom:currentPage:pageSize|limitTo:pageSize"
            ng-class="getSelectedClass(person)" ng-click="toggleSelection(person)">
            <td>
              {{ person.originalAgencyState|selectCodeName:'AAB301'}}
            </td>
          <td>
            {{ person.originalAgencyName}}
          </td>
          <td>
              {{ person.originalAgencyStateName}}
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <div ng-show="totalItems>0">
                    <girder-pagination items-per-page="pageSize" total-items="totalItems"
                                       ng-model="currentPage"></girder-pagination>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
