<div class="modal-header">
    <table style="width: 100%">
        <tr>
            <td align="left"><h5>新型冠状病毒防控知识宣传</h5></td>
            <td align="right">
            </td>
        </tr>
    </table>
</div>
<div>
<table align="center" width="90%" border="0" cellspacing="0" cellpadding="0"  style="margin-top:10px;">
    <tr><td><div style="text-align:center;"><strong><span style="font-family: 宋体;font-size: 25px" size=""align="center">新型冠状病毒防控知识宣传</span></strong><br /></div></td></tr>
    <tr>
        <td>
            <div class="list_content"><br/>
                <strong><span style="font-family: 宋体">1、什么是新型冠状病毒？这种病毒为什么会流行？</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此次引起流行的冠状病毒为一种新型冠状病毒(β属)，WHO命名为2019-nCoV，由于人群缺少对新型冠状病毒的免疫力，所以引起疾病的流行。<br />
                <strong><span style="font-family: 宋体">2、新型冠状病毒的传播途径有哪些？ </span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要传播方式是经飞沫传播、接触传播（包括手污染导致的自我传播）以及可能的气溶胶传播。<br />
                <strong><span style="font-family: 宋体">3、新型冠状病毒会人传人吗？ </span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，95%以上新型冠状病毒肺炎病例都跟武汉有关系，去过武汉，或者从武汉来。从一些聚集性病例的发病关联次序和医务人员感染的情况判断，具有人传人的证据，且存在一定范围的社区传播。<br />
                <strong><span style="font-family: 宋体">4、哪些人容易感染新型冠状病毒？ </span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依据目前的流行病学特点，中老年人发病较多，以男性为主，儿童已有发病，人群普遍易感<br />
                <strong><span style="font-family: 宋体">5、为什么要对密切接触者医学观察14天？ </span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据呼吸道传染病的临床特点，潜伏期多为2～14。目前对密切接触者采取较为严格的医学观察等预防性公共卫生措施十分必要，这是一种对公众健康安全负责任的态度，也是国际社会通行的做法。参考其他冠状病毒所致疾病潜伏期、此次新型冠状病毒病例相关信息和当前防控实际，将密切接触者进行医学观察期定为14天，并对密切接触者进行居家医学观察。<br />
                <strong><span style="font-family: 宋体">6、新型冠状病毒肺炎的早期症状有哪些？</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发热、乏力、干咳、逐渐出现呼吸困难，部分患者起病症状轻微，可无发热。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;急性呼吸窘迫综合征、脓毒症休克、难以纠正的代谢性酸中毒、出凝血功能障碍多数患者为中轻症，预后良好，少数患者病情危重，甚至死亡。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;怀疑感染了新型冠状病毒，应及时到当地指定医疗机构进行排查、诊治 ，应告知医生近期的武汉旅行和居住史、肺炎患者或疑似患者的接触史、动物接触史等。特别应注意的是，诊疗过程中应全程佩戴外科口罩，以保护自己和他人。<br />
                <strong><span style="font-family: 宋体">7、如何识别、判断及就医选择？</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）无发热、无流行病学史：注意个人防护，增强免疫力<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）无发热、有流行病学史：居家隔离，监测体温，必要时筛检病病毒核酸，如有任何不适及时到定点医院发热门诊就诊；<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3）发热、无流行病学史：居家隔离，社区医院就诊，监测体温，疾病如有进展及时到就近医院的发热门诊就诊；<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4）发热、有流行病学史：立即定点医院发热门诊就诊，减少人群接触，加强个人防护。<br />

                <strong><span style="font-family: 宋体">8、现有诊断方法</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现有诊断手段包括：1）血常规、C反应蛋白、血细胞沉降率等；2）胸部CT；3）痰液、咽拭子、下呼吸道分泌物等标本实时荧光RT-PCR检测。<br />
                <strong><span style="font-family: 宋体">9、目前治疗新型冠状病毒肺炎有无特效药物和疫苗？</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前对于新型冠状病毒没有特效抗病毒药物，治疗以对症、支持为主。避免盲目或不恰当的抗菌药物治疗，尤其是联合应用广谱抗菌药物。针对新疾病，并无现有可用疫苗。<br />
                <strong><span style="font-family: 宋体">10、如何保护自己远离新型冠状病毒传染？</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）冠状病毒以飞沫传播为主，正确佩戴口罩；<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）打喷嚏或者咳嗽时不要用手直接遮挡；<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3）正确、及时洗手；<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4）提高免疫力，尽量少去人多且封闭的场所。加强锻炼、规律作息，提高自身免疫力是避免被感染的最重要手段。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5）不要食用野生动物及已患病的动物和其制品；要从正规渠道购买冰鲜禽肉，食用禽肉蛋奶时要充分煮熟。<br />
                <strong><span style="font-family: 宋体">11、在公共场所怎样预防新型冠状病毒传染</span></strong><br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传染病流行期间，尽量不到人流密集和空气流通不畅的公共场所，特别是儿童、老年人及免疫力低下的人群。如必须去应戴口罩；在自己咳嗽或打喷嚏时，用纸巾将口鼻完全遮住，并将用过的纸巾立刻扔进封闭式垃圾箱内，防止病菌传播<br />


            </div> <!--信息内容.end-->
        </td>
    </tr>
    <tr>
        <td>
            <div class="list_content"><br />
                <strong><span><span style="font-family: 宋体">新型冠状病毒防控知识宣传。</span></span></strong><br />
            </div>
        </td>
    </tr>
</table>
</div>
<!--<div class="modal-body">-->
<!--    <table class="table table-hover table-condensed" style="cursor: default;line-height: 35px;">-->
<!--        <thead>-->
<!--        <tr class="text-center">-->
<!--            <th> <a target="_blank" ng-href="modules/employee/dimission/社保批量减员报盘.xls">-->
<!--                <span style="color:#058ceb">新型冠状病毒防控知识宣传下载</span>-->
<!--            </a><br />-->
<!--                <a target="_blank" ng-href="modules/employee/dimission/社保批量减员报盘.xls">-->
<!--                    <span style="color:#058ceb">新型冠状病毒防控知识宣传下载</span>-->
<!--                </a>-->
<!--            </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--    </table>-->
<!--</div>-->

<div class="form-group">
    <div style="text-align: center">
        <label>
            <input type="checkbox" ng-model="ifRead"><span style="margin-left: 5px">已阅读</span>
        </label>
    </div>
</div>

<div class="form-group">

    <div style="text-align: center">
        <button type="button" class="btn btn-success" ng-disabled=!ifRead style="width: 180px" id="saveButton"
                ng-click="confirm();">
            确定
        </button>


        <button type="button" class="btn btn-warning" ng-disabled=!ifRead style="width: 180px" id="closeBtn"
                ng-click="cancel();">
            取消
        </button>
    </div>

</div>

