<div class="col-md-5 blue_part" style="padding-left: 0;">

    <div class="I_O_ri">
<!--        <div class="I_O_two" ng-bind="companyName"></div>-->
<!--        <div class="business_statistics" ng-if="isHome" ng-click="goShortcut('/submit/pending')">-->
<!--            <span class="pic_icon1">-->
<!--                <i ng-bind="unSubmit"></i>-->
<!--            </span>-->
<!--            <span>我的待提交业务</span>-->
<!--        </div>-->
<!--        <div class="business_statistics" ng-if="isHome&&hasEnterprise3" ng-click="goShortcut('/submit/agent')">-->
<!--            <span class="pic_icon1">-->
<!--                <i ng-bind="approve"></i>-->
<!--            </span>-->
<!--            <span>我的待审批业务</span>-->
<!--        </div>-->
        <!--<div class="business_statistics" ng-if="isHome"  ng-click="goShortcut('/review/reviewed')">-->
        <!--<span class="pic_icon1">-->
        <!--<i ng-bind="underRecheck"></i>-->
        <!--</span>-->
        <!--<span>我的待提交材料</span>-->
        <!--</div>-->
<!--        <div class="dropdown" style="float: right;width: 159px;height:40px;margin: 20px 40px 0 0;"-->
<!--             ng-if="hasEnterprise7">-->
<!--            <button type="button" class="management_btn" data-toggle="dropdown" aria-haspopup="true"-->
<!--                    aria-expanded="true">内部管理-->
<!--            </button>-->
<!--            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                <li ng-repeat="m in manageOption" ng-click="goShortcut(m.path)"><a ng-bind="m.name"></a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
