<div class="modal-header">
  <table style="width: 100%">
    <tr>
      <td align="left"><h4>请查询并选择</h4></td>
      <td align="right">
        <button class="glyphicon glyphicon-remove btn-primary" name="closeBtn"
                style="width: 32px;height:32px;border:0"
                data-ng-click="cancel();">
        </button>
      </td>
    </tr>
  </table>
  <alert type='warning' ng-show="warningMsg" close="closeWaring()">{{warningMsg}}</alert>
</div>
<div class="modal-body">
  <div class="row">
    <form class="form-horizontal" role="form">
      <div class="row form-group">
        </div>
        <div class="col-md-2" style="padding-left: 0px;">
          <label>医院名称</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="medicalName"
                 ng-model="queryParam.medicalName"
                 id="medicalName"/>
        </div>
        <!--<div class="col-md-2" style="padding-left: 50px;">
            <label>医院编号</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="medicalNumber"
                   ng-model="queryParam.medicalNumber"
                   id="medicalNumber"/>
        </div>-->
        <div class="col-sm-2">
          <input class="btn btn-info" type="button"  value="查询" ng-click="searchApply()"/>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-bordered table-hover table-condensed" style="cursor: default">
    <thead>
    <tr class="text-center">
      <th>医院名称</th>
      <th>医院编号</th>
      <!--<th>医院等级</th>-->
      <!--<th>医院电话</th>-->
      <!--<th>医院地址</th>-->
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="medical in pageObject|startFrom:1:pageSize|limitTo:pageSize"
        ng-class="getSelectedClass(medical)" ng-click="toggleSelection(medical)">
      <!--<td>-->
      <!--<input type="checkbox" ng-click="toggleSelection(medical)" ng-checked="isSelected(medical)"/>-->
      <!--</td>-->
      <td>
        <!--{{ medical.hospitalName }}-->
        {{ medical.text }}
      </td>
      <td>
        <!--{{ medical.hospitalNumber}}-->
        {{ medical.value}}
      </td>
      <!--<td>-->
        <!--{{ medical.hospitalRank|selectCodeName:'AKA101'}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{ medical.hospitalPhone}}-->
      <!--</td>-->
      <!--<td>-->
        <!--{{ medical.hospitalAddress}}-->
      <!--</td>-->
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <div ng-show="totalItems>0">
          <girder-pagination items-per-page="pageSize" total-items="totalItems" ng-change="searchApply()"
                             ng-model="currentPage"></girder-pagination>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

